.topRatedPosts {
    background: var(--card-bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: var(--card-text-color);
    margin-bottom: var(--card-margin-bottom);
  }
  
  .topRatedPosts ul {
    list-style-type: none;
    padding: 0;
  }
  
  .topRatedPosts li {
    margin-bottom: 15px;
  }
  
  .topRatedPosts a {
    color: var(--text-color);
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }
  
  .topRatedPosts a:hover {
    text-decoration: underline;
  }
  