.navLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}

.navLink:hover,
.navLink:focus {
  color: #f5a623;
}

.navLink,
.mobileNavLink {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover,
.mobileNavLink:hover {
  color: #f5a623;
}

.signIn {
  color: #fff;
  background-color: #f5a623;
  margin-left: 10px;
  border: transparent 1px solid;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signUp {
  color: #fff;
  background-color: #4a90e2;
  margin-left: 10px;
  border: transparent 1px solid;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signIn:hover,
.signUp:hover {
  background-color: transparent;
  border: #f5a623 1px solid;
  color: #ffffff;
  border-radius: 9px;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navLink {
    font-size: 1.2rem;
  }
  .signIn,
  .signUp {
    font-size: 1rem;
    padding: 8px 12px;
  }

  .MuiPaper-root {
    background-color: rgba(52, 73, 94, 0.9) !important;
    backdrop-filter: blur(10px) !important;
    /* color: white !important; */
  }
}
